i{
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ael9xc');
  src:  url('../fonts/icomoon.eot?ael9xc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ael9xc') format('truetype'),
    url('../fonts/icomoon.woff?ael9xc') format('woff'),
    url('../fonts/icomoon.svg?ael9xc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}